<div class="d-med-flex justify-content-md-center astro-form">
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
        
        <div class="form-group">
            <label for="firstname" class="sr-only">First Name</label>
            <input 
                formControlName="firstname"
                id="firstname" 
                type="text" 
                class="form-control"
                placeholder="First Name"
                required autofocus 
            >
        </div>
        <div class="form-group">
            <label for="username" class="sr-only">Username</label>
            <input 
                formControlName="username"
                id="username" 
                type="text" 
                class="form-control"
                placeholder="Username"
                required
            >
        </div>
        <div class="form-group">
            <label for="email" class="sr-only">Email address</label>
            <input 
                formControlName="email"
                id="email" 
                type="email" 
                class="form-control"
                placeholder="Email address"
                required
            >
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input 
                formControlName="password"
                id="password" 
                type="password" 
                class="form-control"
                placeholder="Password"
                required
            >
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>
    </form>
    
    <a [routerLink]="['/']"> Back to login </a>

</div>